.select-category {
    height: calc(3.4rem + 2.5px);
    width: 144px
}

.select-category-del {
    align-self: center;
    margin-left: -56px;
    margin-top: 5px;
}

.text-category {
    margin-left: 15px;
}

.title-align {
    text-align: center;
}